.card {
  background-color: #fff;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-between;
  min-width: 100px;
  padding: 4px;
  z-index: 1;
}

.inPile {
  position: absolute;
}

.faceDown {
  background-color: rgb(145, 126, 126);
  z-index: 1;
}

.upperLeft,
.lowerRight {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.upperLeft svg,
.lowerRight svg {
  margin: 4px 0;
}

.upperLeft {
  align-self: flex-start;
}

.lowerRight {
  align-self: flex-end;
}

.centerIcon {
  align-self: center;
}

.nartsPile {
  position: relative;
  left: 2rem;
}

.nartsPileArea {
  border: 1px solid #000;
  height: 300px;
  margin: 1rem 2rem;
  width: 100%;
}

.nartsPileHolder {
  border: 1px solid #000;
  height: 160px;
  width: 107px;
}

.personalBoard {
  display: flex;
  margin-left: 200px;
}

.personalBoard > div {
  margin: 0 0.5rem;
}
.stockPile {
  position: relative;
  left: 2rem;
  margin: 1rem;
}
